h1 {
    text-align: center;
}

.lead {
    text-align: center;
}


.uvindex {
    padding: 5px;
    color: ghostwhite;
    border-radius: 5px;
}

.forecast {
    background-color: lightblue;
    margin-left: 20px;
    border-radius: 5px;
    color: whitesmoke;
}

.fiveday {
    background-color: grey;
    border-radius: 5px;
    padding: 20px;
}

.current {
    border: 1px dotted black;
    padding: 20px;
    border-radius: 5px;
    background-color: lightgrey;
}

body {
    background-color: grey;
}

.tablebackground {
    background-color: lightgrey;
}

.heading {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.topheader {
    background-color: lightgrey;
}